
@{
    ViewData["Title"] = "Index";
}
    <body class="reg" id="flightsPage">
        <ul class="reg">
            <span class="reg">
                &#9992;
                <li class="HomeReg"><a class="reg" href="Home.html">FlyWithUs.com</a></li>
            </span>
        </ul>



        <div class="containerReg">
            <h1>Forgot your password?</h1>
            <h1>Please introduce your e-mail adress:</h1>
            <hr>


            <label for="email"><b></b></label><br>
            <input type="text" placeholder="Enter Email" name="email" id="email" required>
        </div>
        <p>We will send you an email with a password reset link</p>

        <input class="reg" type="submit" value="SEND RESET MAIL">

        </div>
    </body>