
@{
    ViewData["Title"] = "InfoPage";
}


<body class="reg" id="flightsPage">

    <table class="reg" style="width:100%">
        <tr class="reg">
            <th class="reg">
                <div class="contentReg">
                    <div class="titleReg">Contact us</div>
                    <div class="infoReg">
                        Phone: 555-xxxx
                        <br> Email: flywithus@info.com
                        <br>
                        <br> Our agents are avilable in the following intervals:
                        <br> Monday - Friday 06:00 - 21:00 GMT
                        <br> Saturday 08:00 -18:00 GMT
                        <br> Sunday 09:00 - 18:00 GMT

                    </div>
                </div>
            </th>
            <th class="reg">
                <div class="contentReg">
                    <div class="titleReg">Travel info</div>
                    <div class="subtitleReg">Things to consider:</div>
                    <div class="infoReg">
                        Always check your flight information frequently in case of schedule changes.
                        <br><br> Always arrive at the airport atleast 1 hour before your flight.
                    </div>
                </div>
            </th>
            <th class="reg">
                <div class="contentReg">
                    <div class="titleReg">About us</div>
                    <div class="infoReg">
                        We are a flight company that whose main goal is our costumers satisfaction. We act with professional integrity and we are always at your service. We always make sure our travelers have a safe and pleasent flight
                    </div>
                </div>
            </th>

        </tr>
    </table>

    </div>
</body>