
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ro-RO">
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Admin</title>
</head>

<body class="admin">

    <ul class="admin">
        <span class="admin">
            &#9992;
            <li class="admin"><a class="admin" href="Home.html">FlyWithUs.com</a></li>
        </span>
    </ul>
    <main class="admin">
        <div class="cardAdmin" id="flights">Flights</div>
        <div class="cardAdmin" id="users">Users</div>
        <div class="cardAdmin" id="reservations">Reservations</div>
        <br>
        <table>
            <tr class="admin">
                <td class="admin">filed1</td>
                <td class="admin">filed1</td>
                <td class="admin">filed1</td>
                <td class="admin">filed1</td>
                <td class="admin">filed1</td>
                <td class="admin">filed1</td>
                <td class="buttonAdmin">Edit</td>
            </tr>
            <tr class="admin">
                <td class="admin">filed1</td>
                <td class="admin">filed1</td>
                <td class="admin">filed1</td>
                <td class="admin">filed1</td>
                <td class="admin">filed1</td>
                <td class="admin">filed1</td>
                <td class="buttonAdmin">Edit</td>
            </tr>
            <tr class="admin">
                <td class="admin">filed1</td>
                <td class="admin">filed1</td>
                <td class="admin">filed1</td>
                <td class="admin">filed1</td>
                <td class="admin">filed1</td>
                <td class="admin">filed1</td>
                <td class="buttonAdmin">Edit</td>
            </tr>
            <tr class="admin">
                <td class="admin">filed1</td>
                <td class="admin">filed1</td>
                <td class="admin">filed1</td>
                <td class="admin">filed1</td>
                <td class="admin">filed1</td>
                <td class="admin">filed1</td>
                <td class="buttonAdmin">Edit</td>
            </tr>
            <tr class="admin">
                <td class="admin">filed1</td>
                <td class="admin">filed1</td>
                <td class="admin">filed1</td>
                <td class="admin">filed1</td>
                <td class="admin">filed1</td>
                <td class="admin">filed1</td>
                <td class="buttonAdmin">Edit</td>
            </tr>
            <tr class="admin">
                <td class="admin">filed1</td>
                <td class="admin">filed1</td>
                <td class="admin">filed1</td>
                <td class="admin">filed1</td>
                <td class="admin">filed1</td>
                <td class="admin">filed1</td>
                <td class="buttonAdmin">Edit</td>
            </tr>
        </table>
    </main>
</body>

</html>
