@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!-- <ul class="navbar-nav">-->
@if (SignInManager.IsSignedIn(User))
{
    <li >
        <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
    </li>
   
    
    @if (User.IsInRole("Admin"))
    {
        <li><a asp-area="Identity" asp-controller="Admin" asp-action="AdminPage">Admin Panel</a></li>
    }
}
else
{

    <!--
        <li class="nav-item"><a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a></li>
        <li class="nav-item"><a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a></li>
    -->
    <!--
        <li><a asp-area="Identity" asp-controller="SignIn" asp-action="SignIn">SIGN IN</a></li>
        <li><a asp-area="Identity" asp-controller="Registration" asp-action="Registration">REGISTER</a></li>
        <li><a asp-area="Identity" asp-controller="Admin" asp-action="AdminPage">Admin</a></li>
    -->
    <li><a asp-area="Identity" asp-page="/Account/Login">SIGN IN</a></li>
    <li><a asp-area="Identity" asp-page="/Account/Register">REGISTER</a></li>

}
<!--</ul>-->
