
@{
    ViewData["Title"] = "index";
}

    <body class="profile">

        <div class="cont">
            <h1>UserID</h1>
            <p>Personal information</p>
            <hr class="hrProfile">

            <div class="infoProfile">
                email@email.com
            </div>
            <hr>
            <br>

            <div class="infoProfile">
                Name1
            </div>
            <button type="submit" class="registerbtn">Change first name</button>
            <hr>
            <br>

            <div class="infoProfile">
                Name2
            </div>
            <button type="submit" class="registerbtn">Change Surname</button>
            <hr>
            <br>

            <div class="infoProfile">
                07xxxxxxxx
            </div>
            <button type="submit" class="registerbtn">Change phone number</button>
            <hr>
            <br>

            <button type="submit" id="pass" class="registerbtn">Change password</button>
        </div>
    </body>