@{
    ViewData["Title"] = "Destinations";
}


<div id="flightsPage">
    <section class="flightsSection">

        <div class="title">Destinations</div>

        <div class="flight">
            <div class="flightDetails">
                <div class="flightTime"> Take off at: <br> 00:00 </div>
                <div class="flightTime"> Arrive at: <br> 00:00</div>
                <div class="priceButton">$$$</div>
            </div>

        </div>
        <div class="flight">
            <div class="flightDetails">
                <div class="flightTime"> Take off at: <br> 00:00 </div>
                <div class="flightTime"> Arrive at: <br> 00:00</div>
                <div class="priceButton">$$$</div>
            </div>

        </div>
        <div class="flight">
            <div class="flightDetails">
                <div class="flightTime"> Take off at: <br> 00:00 </div>
                <div class="flightTime"> Arrive at: <br> 00:00</div>
                <div class="priceButton">$$$</div>
            </div>
        </div>
        <div class="flight">
            <div class="flightDetails">
                <div class="flightTime"> Take off at: <br> 00:00 </div>
                <div class="flightTime"> Arrive at: <br> 00:00</div>
                <div class="priceButton">$$$</div>
            </div>

        </div>
        <div class="flight">
            <div class="flightDetails">
                <div class="flightTime"> Take off at: <br> 00:00 </div>
                <div class="flightTime"> Arrive at: <br> 00:00</div>
                <div class="priceButton">$$$</div>
            </div>

        </div>
        <div class="flight">
            <div class="flightDetails">
                <div class="flightTime"> Take off at: <br> 00:00 </div>
                <div class="flightTime"> Arrive at: <br> 00:00</div>
                <div class="priceButton">$$$</div>
            </div>

        </div>
        <div class="flight">
            <div class="flightDetails">
                <div class="flightTime"> Take off at: <br> 00:00 </div>
                <div class="flightTime"> Arrive at: <br> 00:00</div>
                <div class="priceButton">$$$</div>
            </div>

        </div>
        <div class="flight">
            <div class="flightDetails">
                <div class="flightTime"> Take off at: <br> 00:00 </div>
                <div class="flightTime"> Arrive at: <br> 00:00</div>
                <div class="priceButton">$$$</div>
            </div>
        </div>

    </section>
</div>
