@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <main class="main">
        <section class="booking">
            <div class="container">
                <section class="destinations">
                    <div class="title"> Choose from our most popular destinations </div>
                    <br>
                    <a href="Flights.html">
                        <div class="card">
                            <img src="images/brasov.jpg">
                            <br> Brasov-Romania
                        </div>
                    </a>
                    <a class="navbar-brand" asp-area="" asp-controller="Flights" asp-action="Flights">
                        <div class="card">
                            <img src="images/genoa.jpg">
                            <br> Genoa-Italy
                        </div>
                    </a>
                    <a href="Flights.html">
                        <div class="card">
                            <img src="images/paris.jpg">
                            <br>Paris-France
                        </div>
                    </a>
                    <br>
                    <a href="Flights.html">
                        <div class="card">
                            <img src="images/londra.png">
                            <br> Londra-UK
                        </div>
                    </a>
                    <a href="Flights.html">
                        <div class="card">
                            <img src="images/bucuresti.jpg">
                            <br> Bucuresti-Romania
                        </div>
                    </a>
                    <a href="Flights.html">
                        <div class="card">
                            <img src="images/madrid.jpg">
                            <br> Madrid-Spain
                        </div>
                    </a>
                    <div class="lastrow">
                        <a href="">
                            <div id="destiantionButton" class="button">
                                See all destinations >>>
                            </div>
                        </a>
                    </div>
                </section>
            </div>
        </section>

    </main>
</div>
