@{
    ViewData["Title"] = "Home Page";
}

<section class="booking">
    <div>
        <section class="destinations">
            <div class="title"> Choose from our most popular destinations </div>
            <br>
            <a asp-area="" asp-controller="Flights" asp-action="Flights">
                <div class="card ">
                    <img class="img" src="/images/brasov.jpg ">
                    <br> Brasov-Romania
                </div>
            </a>
            <a asp-area="" asp-controller="Flights" asp-action="Flights">
                <div class="card">
                    <img class="img" src="/images/genoa.jpg">
                    <br> Rome-Italy
                </div>
            </a>
            <a asp-area="" asp-controller="Flights" asp-action="Flights">
                <div class="card ">
                    <img class="img" src="/images/paris.jpg ">
                    <br>Paris-France
                </div>
            </a>
            <br>
            <a asp-area="" asp-controller="Flights" asp-action="Flights">
                <div class="card">
                    <img class="img" src="/images/londra.png">
                    <br> Londra-UK
                </div>
            </a>
            <a asp-area="" asp-controller="Flights" asp-action="Flights">
                <div class="card ">
                    <img class="img" src="/images/bucuresti.jpg ">
                    <br> Bucuresti-Romania
                </div>
            </a>
            <a asp-area="" asp-controller="Flights" asp-action="Flights">
                <div class="card">
                    <img class="img" src="/images/madrid.jpg">
                    <br> Madrid-Spain
                </div>
            </a>
            <div class="lastrow">
                <a asp-area="" asp-controller="Destinations" asp-action="Destinations">
                    <div id="destiantionButton" class="button">
                        See all destinations >>>
                    </div>
                </a>
            </div>
        </section>
    </div>
</section>

