@{
    ViewData["Title"] = "Sign in";
}

<div  id="flightsPage">
    <div class="square">
        <form>
            <h1>Login</h1>
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="submit" value="Login">
            <input type="submit" value="Cancel">

            <div class="bottom-container">
                <div class="row">
                    <div class="containerSignin">
                        <p>
                            Don't have an account?
                            <br> <a asp-area="" asp-controller="Registration" asp-action="Registration">Register now!</a>
                        </p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
