body {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    text-align: center;
    margin: 0;
}

ul {
    list-style-type: none;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
    background-color: #2C3DDC;
    border: none;
    margin: 0;
}

li {
    float: right;
    margin-right: 30px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}

li a:hover {
    opacity: 0.5;
}

.Home {
    float: left;
}


/*
li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
*/

.booking {
    padding-top: 0em;
    padding-bottom: 0em;
}

.label {
    text-align: left;
    display: block;
    margin-bottom: 1em;
}

.icon {
    display:inline-block;
    content: "\2708";
    float: left;
}

input[type=submit] {
    background-color: teal;
    color: white;
    cursor: pointer;
    border: none;
    width: 90%;
    padding: 12px;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    margin-left: 50px;
}


/*Flighs page*/

.flightsSection {
    display: inline-block;
    width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.flight {
    height: fit-content;
    width: 75%;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 12%;
    background-color: white;
}

.flightDetails {
    display: inline-block;
}

.flightTime {
    display: inline-block;
    margin-right: 200px;
    font-size: 15px;
    color: grey;
}

.priceButton {
    display: inline-block;
}

.title {
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.destinations {
    height: 30em;
    padding-top: 50px;
}

.card {
    margin-top: 50px;
    margin-right: 40px;
    display: inline-block;
    border-style: solid;
    border-radius: 10px;
    border-color: #2C3DDC;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

.card :hover {
    opacity: 0.5;
}

.img {
    width: 300px;
    height: 180px;
    border-radius: 8px;
}

.lastrow {
    margin: auto;
    padding: 10px;
    width: 100%;
}

.button {
    background-color: #2C3DDC;
    width: 300px;
    float: right;
    margin-right: 25%;
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    color: white;
}


/*---------------------------------------------------------------------------------*/

button[type=submit] {
    background-color: #2C3DDC;
    color: white;
    padding: 16px 20px;
    margin: auto;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    float: right;
}

input[type=submit] {
    background-color: #2C3DDC;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    width: 100px;
}

input[value="Make Reservation"] {
    background-color: #2C3DDC;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    width: 200px;
}

input[type=text],
input[type=password] {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 5px 0 5px 0;
    display: inline-block;
    border-color: #2C3DDC;
    background: white;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: white;
    outline: none;
}

input,
.btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    /* remove underline from anchors */
}

input:hover,
.btn:hover {
    opacity: 1;
}

input {
    border: solid;
}


/*------------------------------*/

.registerbtn {
    background-color: #2C3DDC;
    color: white;
    padding: 16px 20px;
    margin: 8px;
    border: none;
    cursor: pointer;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}

.container {
    text-align: center;
    display: inline-block;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.info {
    font-size: 20px;
    width: 50%;
    margin: auto;
    height: 55px;
    padding: 10px;
    text-align: center;
}


/*Log-in*/

.col {
    float: left;
    width: 50%;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 5px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* bottom container */

.bottom-container {
    text-align: center;
    border-radius: 0px 0px 4px 4px;
}

form {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    text-align: center;
}

.square {
    width: 30%;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.optionAdmin {
    background-color: #2C3DDC;
    width: 10%;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    display: inline-block;
    opacity: 0.9;
}

.optionAdmin:hover {
    opacity: 1;
}

.details {
    text-align:center;
    margin: auto;
}

.fieldsHead {
    height: fit-content;
    width: 75%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 12%;
}

.fields {
    height: fit-content;
    width: 80%;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 12%;
    color: grey;
}

.field {
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    width: 100px;
    font-size: 15px;
}

a,
a:visited {
    text-decoration: none;
}


/*--flight page form---*/

.form {
    margin: 15px;
    border-width: 2px;
    border-style: solid;
    width: 70%;
    padding: 30px;
    border-radius: 10px;
    display: inline-block;
}

.inputs {
    margin-bottom: 1em;
    display: inline-block;
}

.input,
.options {
    text-align: center;
    border: solid;
    border-color: #2C3DDC;
    background-color: transparent;
    width: 200px;
    height: 15px;
}

.options {
    width: 315px;
    height: 50px;
}

#Passenger {
    height: 35px;
    width: 35px;
    border-radius: 5px;
}

.Return,
.Departure {
    display: inline-block;
    border-color: #2C3DDC;
    margin: 0px;
    height: 10px;
}

#Departure,
#Return {
    background: transparent;
    border-color: #2C3DDC;
    height: 8px;
}

#destination {
    height: 12px;
}

#Origin {
    height: 12px;
}