@{
    ViewData["Title"] = "Registration";
}
@model User


<div class="containerReg">
        <h1>Register</h1>
        <p>Please fill in this form to create an account.</p>
        <hr>
        <form method="post">
            <div asp-validation-summary="All"></div>
            <div class="FirstName">
                <label for="FirstName"></label>
                <input type="text" placeholder="FirstName" name="FirstName" id="FirstName" required>
                <span asp-validation-for="Name"></span>
            </div>

            <div class="LastName">
                <label for="LastName"></label>
                <input type="text" placeholder="LastName" name="LastName" id="LastName" required>
                <span asp-validation-for="Surname"></span>
            </div>

            <br>
            <div class="phone">
                <label for="MobilePhoneNumber"></label>
                <input type="text" placeholder="Mobile Phone Number" img src="abc.jpg" name="MobilePhoneNumber" id="MobilePhoneNumber" required>
                <span asp-validation-for="Phone"></span>
            </div>

            <br>
            <div>
                <label for="email"></label><br>
                <input type="text" placeholder="Enter Email" name="email" id="email" required>
                <span asp-validation-for="Email"></span>
            </div>

            <div>
                <label for="psw"></label>
                <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
                <span asp-validation-for="Password"></span>
            </div>

            <div>
                <label for="psw-repeat"></label>
                <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
                <span asp-validation-for="Confirmpwd"></span>
            </div>

            <hr>
            <button type="submit" class="registerbtn">Register</button>
        </form>
    <div class="containerSignin">
         <p>Already have an account? <a href="Sign-in.html">Sign in</a></p>
    </div>
</div>

