
@{
    ViewData["Title"] = "Index";
}

    <body>
        <main id="flightsPage">
            <section class="info">
                <div class="pickdOrigin">
                    <h5>Origin: City1</h5>
                </div>
                <div class="pickedDestination">
                    <h5>Destination: City2</h5>
                </div>
                <div class="pickedDeparture">
                    <h5>Departure date: mm/dd/yy</h5>
                </div>
                <div class="pickedReturn">
                    <h5>Return date: mm/dd/yy</h5>
                </div>
                <div class="pickedPasengers">
                    <h5>No. of pasangers: x</h5>
                </div>
            </section>
            <section class="flightsSection">

                <div class="title">Departure Flights</div>

                <div class="flight">
                    <div class="flightDetails">
                        <div class="flightTime"> Take off at: <br> 00:00 </div>
                        <div class="flightTime"> Arrive at: <br> 00:00</div>
                        <div class="priceButton">$$$</div>
                    </div>

                </div>
                <div class="flight">
                    <div class="flightDetails">
                        <div class="flightTime"> Take off at: <br> 00:00 </div>
                        <div class="flightTime"> Arrive at: <br> 00:00</div>
                        <div class="priceButton">$$$</div>
                    </div>

                </div>
                <div class="flight">
                    <div class="flightDetails">
                        <div class="flightTime"> Take off at: <br> 00:00 </div>
                        <div class="flightTime"> Arrive at: <br> 00:00</div>
                        <div class="priceButton">$$$</div>
                    </div>
                </div>
                <div class="flight">
                    <div class="flightDetails">
                        <div class="flightTime"> Take off at: <br> 00:00 </div>
                        <div class="flightTime"> Arrive at: <br> 00:00</div>
                        <div class="priceButton">$$$</div>
                    </div>

                </div>

                <div class="title">Return Flights</div>

                <div class="flight">
                    <div class="flightDetails">
                        <div class="flightTime"> Take off at: <br> 00:00 </div>
                        <div class="flightTime"> Arrive at: <br> 00:00</div>
                        <div class="priceButton">$$$</div>
                    </div>

                </div>
                <div class="flight">
                    <div class="flightDetails">
                        <div class="flightTime"> Take off at: <br> 00:00 </div>
                        <div class="flightTime"> Arrive at: <br> 00:00</div>
                        <div class="priceButton">$$$</div>
                    </div>

                </div>
                <div class="flight">
                    <div class="flightDetails">
                        <div class="flightTime"> Take off at: <br> 00:00 </div>
                        <div class="flightTime"> Arrive at: <br> 00:00</div>
                        <div class="priceButton">$$$</div>
                    </div>

                </div>
                <div class="flight">
                    <div class="flightDetails">
                        <div class="flightTime"> Take off at: <br> 00:00 </div>
                        <div class="flightTime"> Arrive at: <br> 00:00</div>
                        <div class="priceButton">$$$</div>
                    </div>
                </div>

            </section>
        </main>

    </body>